body {
    background-image: url('../images/Background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.homeContainer {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(150, 96, 55, 0.8), rgba(150, 96, 55, 0));
    z-index: -1;
}

.homeLogo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
}

.homeLogoN {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    animation: spin 15s linear infinite;
}

@keyframes spin {
    from {
      transform: translateX(-50%) rotate(0deg);
    }
    to {
      transform: translateX(-50%) rotate(360deg);
    }
  }

.homeLogoT {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4); */
    /* filter: drop-shadow(6px 6px 6px rgb(91, 63, 42)); */
    filter: drop-shadow(2px 2px 0 #000) drop-shadow(-2px -2px 0 #000) 
    drop-shadow(2px -2px 0 #000) drop-shadow(-2px 2px 0 #000);
}

.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 90px;
    border-radius: 50px;
    border: 0px solid #a66d2d;
    background: linear-gradient(to bottom, rgba(200, 119, 53, 0.6), rgba(194, 180, 134, 0.0));
    color: #ffffff;
    text-align: left;
    font-size: 35px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Antreas', sans-serif;
    /* letter-spacing: 1px; */
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.15);
    /* backdrop-filter: blur(5px); */

}

.custom-placeholder::placeholder {
  color: #fde6b5;
}

.suggestionsContainer {
  position: absolute;
  top: calc(50% + 150px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding: 30px 0; /* Removed left and right padding */
  background: linear-gradient(to top, rgba(238, 171, 117, 0.8), rgba(194, 180, 134, 0.0));
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  z-index: 1;
  overflow: hidden;
}

.suggestion {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  transition: transform 0.5s ease;
}

.suggestion:hover {
  transform: translateY(-10px);
}

.suggestion img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.suggestion p {
  margin-top: 5px;
  font-size: 14px;
  padding-right: 10px;
  padding-left: 10px;
  
  /* Apply gradient text color */
  color: #ffe4b1;
  font-family: 'Antreas', sans-serif;
}

@font-face {
    font-family: 'Clockwise';
    src: url('../fonts/clockwise_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'CherryRustic';
  src: url('../fonts/CherryRustic.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ShantellSans';
  src: url('../fonts/ShantellSans-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.suggestion h3 {
    font-family: 'CherryRustic', sans-serif;
    background: linear-gradient(to top, #ffe2ab, #efc578);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    margin-bottom: 0px;
    letter-spacing: 2px;
    text-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3);
    font-weight: 400;
    /* text-transform: uppercase; */
}

.suggestion button {
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px;
    color: rgba(223, 133, 23, 1);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

.suggestion button:hover {
    background-color: rgba(226, 203, 174, 0.9);
    color: rgba(255, 153, 0, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
}

.sliderButton {
  position: absolute;
  top: 50%;
  transform: translateY(700%);
  background: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
  z-index: 2;
  transform: scale(4.5) translateY(180%);
}

.sliderButton.left:hover {
  left: 180px;
  transition: left 0.3s ease;
}
.sliderButton.right:hover {
    right: 180px;
    transition: right 0.3s ease;
}

.sliderButton.left {
  left: 200px;
}

.sliderButton.right {
  right: 200px;
}

.sliderButton svg {
  font-size: 50px;
  color: #ffffff;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.sliding-left {
  animation: slideLeft 0.5s ease forwards;
}

.sliding-right {
  animation: slideRight 0.5s ease forwards;
}

.typing {
    border-right: 2px solid #a66d2d;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(30, end), blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0, 0, 0.5); /* Blurred background effect */
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    z-index: 1000; /* Ensure it's above other content */
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .modal-content {
    /* background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    width: 420px;
    background: rgb(176 127 90 / 80%);;
    color: white;
    border-radius: 30px;
    padding: 30px 40px;
    box-shadow: 0 0 30px 30px rgb(204 149 108 / 41%);
    animation: fadeIn 0.5s ease-in-out;
    /* margin-top: 245px;  */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .close-modal {
    position: relative;
    font-size: 18px;
    width: 45px;
    height: 45px;
    background: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: background 0.3s ease, color 0.3s ease;
    left: 90%;
  }
  
  .modal-content h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
  }
  
  .input-box {
    position: relative;
    /* width: 100%; */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.35)); /* Gradient background */
    border: none;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 15px 45px 15px 20px;
    margin-bottom: 20px;
  }
  
  .input-box input {
    width: 100%;
    background: transparent; /* Keep input field transparent */
    border: none;
    outline: none;
    color: white;
  }
  
  .input-box input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -10px 0 15px;
  }
  
  .remember-forgot label input {
    accent-color: white;
    margin-right: 4px;
  }
  
  .remember-forgot a {
    color: white;
    text-decoration: none;
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  .loginB {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: background 0.3s ease, color 0.3s ease;
    margin-top: 40px;
  }
  
  .loginB:hover {
    background: #f1f1f1;
    color: rgb(30, 142, 255); /* Change text color to blue */
  }
  
  .register-link {
    padding-top: 15px;
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 8px;
  }
  
  .regbutton {
    color: rgb(30, 142, 255);
    background: transparent;
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin-left: 4px;
  }
  
  .regbutton:hover {
    text-decoration: underline;
  }

  