.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #ffe4b1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0, 0, 0.5); /* Blurred background effect */
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  z-index: 1000; /* Ensure it's above other content */
  animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
  width: 35%;
  background: rgb(176 127 90 / 80%);;
  color: white;
  border-radius: 30px;
  padding: 30px 40px;
  box-shadow: 0 0 30px 30px rgb(204 149 108 / 41%);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
